<nav class="navbar navbar-inverse collapsed">
    <div class="row-flex">
        <div class="col-sm hidden-sm hidden-xs">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        ng-click="ctrl.isNavCollapsed = !ctrl.isNavCollapsed"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only" translate>layout.navbar.toggleNav</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="oee">
                    <span class="brand-full"></span>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <h1 class="app-name" translate>
                layout.navbar.title
            </h1>
        </div>
        <div class="col-sm hidden-sm hidden-xs">
            <div uib-dropdown class="dropdown nav-item">
                <button uib-dropdown-toggle class="dropdown-toggle">
                    <span class="text-uppercase" style="width: 25px; display: inline-block">{{$root.currentLang}}</span>
                    <span><i style="width: 20px" class="fas fa-caret-down text-right"></i></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right lang-dropdown">
                    <li ng-class="{active: $root.currentLang === lang}" ng-repeat="lang in $root.langs"
                        class="text-uppercase">
                        <a href="#" class="paddingLR10" ng-click="ctrl.setLanguage(lang)">
                            {{lang}}
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<script type="text/ng-template" id="sidebar-template.html">
    <ul role="tablist" ng-transclude class="nav" id="side-menu"></ul>
</script>

<script type="text/ng-template" id="sidebar-dropdown.html">
    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
        <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
        </span>
        <span class="fas arrow hide-collapsed"></span>
    </a>

    <div ng-transclude uib-collapse="!isOpen">

    </div>
</script>
