<div class="marginT20 container-lg">
    <ul class="nav nav-tabs nav-justified nav-tabs">
        <li ui-sref-active="active">
            <a ui-sref="mineOperation.oee">
                <h3>OEE</h3>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="mineOperation.production">
                <h3>Producción</h3>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="mineOperation.miningPlan">
                <h3>Información de flota</h3>
            </a>
        </li>
    </ul>

    <div class="marginT20">
        <ui-view></ui-view>
    </div>

</div>
