<div>
    <oee-overview-chart type="'OEE'" data="ctrl.filters.data"
                        from="ctrl.filters.from" to="ctrl.filters.to"
                        categories="ctrl.filters.categories" equipments="ctrl.filters.equipments"
                        chart-title="'OEE'" size="'sm'"></oee-overview-chart>

    <div class="row">
        <div class="col-md-4">
            <oee-overview-chart type="'Utilization'" data="ctrl.filters.data"
                                from="ctrl.filters.from" to="ctrl.filters.to"
                                categories="ctrl.filters.categories" equipments="ctrl.filters.equipments"
                                chart-title="'Utilización'" size="'xs'"
                                target="'oee.utilization'"></oee-overview-chart>
        </div>
        <div class="col-md-4">
            <oee-overview-chart type="'CapacityPerformance'" data="ctrl.filters.data"
                                from="ctrl.filters.from" to="ctrl.filters.to"
                                categories="ctrl.filters.categories" equipments="ctrl.filters.equipments"
                                chart-title="'Performance Capacidad'" size="'xs'"
                                target="'oee.capacityPerformance'"></oee-overview-chart>
        </div>
        <div class="col-md-4">
            <oee-overview-chart type="'TimePerformance'" data="ctrl.filters.data"
                                from="ctrl.filters.from" to="ctrl.filters.to"
                                categories="ctrl.filters.categories" equipments="ctrl.filters.equipments"
                                chart-title="'Performance Tiempo'" size="'xs'"
                                target="'oee.timePerformance'"></oee-overview-chart>
        </div>
    </div>

    <spinner show="ctrl.filters.loading"></spinner>
</div>