<div class="container-lg">
    <div style="margin-top: 50px">
        <h2>
            <strong>Aplicaciones</strong>
        </h2>
    </div>

    <div class="home-shortcuts home-shortcuts">
        <a class="shortcut" ui-sref="mineOperation">
            <div class="shortcut-content">
                <div class="link-icon">
                    <img src="/assets/images/mine.svg" />
                </div>

                <div class="link-text-wrapper">
                    <div class="link-text">Operación Mina</div>
                </div>
            </div>
        </a>
    </div>
</div>