<div ng-class="{'panel panel-light': ctrl.options.title.show}">
    <div class="panel-heading" ng-if="ctrl.options.title.show">
        {{ctrl.types[ctrl.type].title}}
    </div>
    <div class="chart chart-{{ctrl.size}}" ng-class="{transparent: false}"></div>

    <!--<div class="centered-message" ng-show="!ctrl.categories.length">
        <h4 class="no-margin">No se ha seleccionado una categoría de equipamiento</h4>
    </div>-->
    <spinner show="ctrl.loading"></spinner>

    <div ng-if="ctrl.selectedDate" class="marginLR20 marginT20 paddingB5">
        <hour-oee-chart date="ctrl.selectedDate"
                        type="ctrl.type"
                        categories="ctrl.categories"
                        equipments="ctrl.equipments"
                        color="ctrl.color"></hour-oee-chart>
    </div>
</div>